<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>883773070246-at1ii7kjunc1tdrunhpbossbab5m4hli.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883773070246-at1ii7kjunc1tdrunhpbossbab5m4hli</string>
	<key>API_KEY</key>
	<string>AIzaSyC3dv2VFEW8-e9Mqedxo1fi2Gzf5uEJL9w</string>
	<key>GCM_SENDER_ID</key>
	<string>883773070246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ayadios.Graf</string>
	<key>PROJECT_ID</key>
	<string>graf-fdddf</string>
	<key>STORAGE_BUCKET</key>
	<string>graf-fdddf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:883773070246:ios:8d5b4b16f2e69eef</string>
	<key>DATABASE_URL</key>
	<string>https://graf-fdddf.firebaseio.com</string>
</dict>
</plist>